.element__like {
    margin: 0;
    min-width: 22px;
    min-height: 19px;
    border: none;
    background: url(../../../images/Like-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.element__like:hover {
    opacity: .5; 
}

.element__like:active {
    background: url(../../../images/Like-black.svg);
}
