.popup__close-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding-bottom: 8px;
    padding-left: 464px;
}

.popup__close-icon:hover {
    opacity: .6;
}

@media screen  and (max-width: 580px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        padding-bottom: 16px;
        padding-left: 262px;
    }
}