.profile-info {
    margin: 0;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: flex-start;
    align-items: center;
    gap: 16px 18px;
    grid-template-areas:
      "name edit-button"
      "about about";

}